@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --font-family: 'Spartan', sans-serif;
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    --font-size: 0.9rem;
}

* {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    background:
        url('./images/bg-pattern-top-desktop.svg') left -15% top 0 no-repeat,
        url('./images/bg-pattern-bottom-desktop.svg') right bottom no-repeat;
}

.container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.container__top {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    height: 50%;
    align-items: center;
}

.container__top-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__top-text__title {
    font-size: 2.5rem;
    color: var(--very-dark-magenta);
    font-weight: 700;
}

.container__top-text__description {
    color: var(--dark-grayish-magenta)
}

.container__top-ratings {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.container__top-ratings__item {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--light-grayish-magenta);
    border-radius: 0.5rem;
    padding: 2%;
}

.container__top-ratings__item:first-child {
    align-self: flex-start;
}

.container__top-ratings__item:nth-child(2) {
    align-self: center;
}

.container__top-ratings__item:last-child {
    align-self: flex-end;
}

.container__top-ratings__item-review {
    color: var(--very-dark-magenta);
    font-weight: bold;
}

.container__top-ratings__item-stars {
    display: flex;
}

.container__bottom {
    display: flex;
    gap: 2rem;
    height: 50%;
}

.container__bottom-card__item {
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    padding: 3%;
    color: white;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container__bottom-card__item-head {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.container__bottom-card__item-head__image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.container__bottom-card__item-head__image img {
    width: 100%;
    height: 100%;
}

.container__bottom-card__item-head__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
}

.container__bottom-card__item-head__text-status,
.container__bottom-card__item-head__text-name {
    margin: 0;
    padding: 0;
}

.container__bottom-card__item-head__text-name {
    color: white;
    font-weight: 500;
}

.container__bottom-card__item-head__text-status {
    color: var(--soft-pink);
    text-transform: capitalize;
}

.container__bottom-card__item-body {
    color: var(--light-grayish-magenta);
    /* color: white; */
    font-weight: 400;
    line-height: 1.2rem;
}

.container__bottom-card__item:nth-child(2) {
    align-self: center;
}

.container__bottom-card__item:nth-child(3) {
    align-self: flex-end;
}

@media screen and (max-width: 54rem) {
    body {
        height: unset;
        background: url(./images/bg-pattern-top-mobile.svg) left -15% top 0 no-repeat, url(./images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    }

    .container {
        height: unset;
        width: 100%;
        flex-direction: column;
        padding: 20% 10%;
    }

    .container__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 2rem;
    }

    .container__top-text {
        width: inherit
    }

    .container__top-ratings__item {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        padding-block: 1rem;
    }

    .container__top-ratings {
        width: 100%;
    }

    .container__bottom {
        flex-direction: column;
        width: 100%;
        height: unset;
    }

    .container__bottom-card__item {
        padding: 10%;
        gap: 1.5rem;
        justify-content: space-between;
    }
}